body {
	font-family: 'Roboto';
	background: #FFA17F; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #FFA17F , #00223E); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #FFA17F , #00223E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 {
	background: #2980B9;
	color: white;
	margin: 0;
	padding: 10px 20px;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: normal;
}

input {
	font-size: 18px;
	background-color: #F7F7F7;
	width: 100%;
	box-sizing: border-box;
	padding: 13px 13px 13px 20px;
	color: #2980B9;
	border: 3px rgba(0,0,0,0);
}

input:focus {
	background: #FFF;
	border: 3px solid #2980B9;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	height: 40px;
	line-height: 40px;
	color: #666;
	background: white;
}

li:nth-of-type(2n){
	background:#F7F7F7;
}

li:hover .deleteBtn {
	width: 40px;
	opacity: 1;
}

.deleteBtn {
	background: #E74C3C;
	color: white;
	height: 40px;
	width: 0px;
	margin-right: 20px;
	text-align: center;
	display: inline-block;
	transition: 0.2s;
	opacity: 0;
}

.striked {
	text-decoration: line-through;
	color: gray;
}

#container {
	margin: 10% auto;
	width: 360px;
	background: #F7F7F7;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);

}

#addBtn {
	float: right;
}








